<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    
      <script src="/node_modules/angular/angular.min.js"></script>
   
    <link rel="stylesheet" href="style.css" />
   
   
  </head>

  <body>
      <div ng-controller="TestController">
          <div>
              <a ng-click="Login()" class="btn btn-success">Log in</a>
          </div>
          <div class="alert alert-danger" ng-if="error">
              {{error}}
          </div>
          <p>Trello for: {{member.fullName}}</p>
      
          <ul>
              <li ng-repeat="b in boards">
                  <my-board-details board="b" />
              </li>
        
          </ul>
      
      </div>
      <script src="script.js"></script>
  </body>

</html>
