<!DOCTYPE html>
<html ng-app="TrelBan">

<head>
  <script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script data-require="angular.js@*" data-semver="1.4.0-beta.4" src="https://code.angularjs.org/1.4.0-beta.4/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="https://api.trello.com/1/client.js?key=f61a9f8e76588e13085d2d9c014e9685"></script>
  <script src="angular-readable-time.min.js"></script>
</head>

<body>

  <div ng-controller="boardController">
    <a ng-click="Login()">Login</a>

    <ul>
      <li ng-repeat="board in boards">
        <a ng-click="showCards(board.id)">{{board.name}}</a>
      </li>
    </ul>
    <div id="boardDetails" ng-show="cards && closedCards">

      <span>Open</span>
      <ul>
        <li ng-repeat="card in cards">
          {{card.name}} - {{card.cycleTime | readableTime}}
        </li>
      </ul>
      <span>Closed</span>
      <ul>
        <li ng-repeat="card in closedCards">
          {{card.name}} - {{card.cycleTime | readableTime}}
        </li>
      </ul>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>
